# This file contain the DISPLAY environment variable


[Unit]
Description="Test gui app"
[Service]
User=pi
#ExecStartPre=sleep 10
Restart=on-failure
ExecStart=/usr/bin/python3.9 /home/pi/testtt.py
Environment="DISPLAY=:0"
[Install]
WantedBy=graphical.target






# The used command to run it >>$  journalctl -u gui_hello.service -f
